.input-item {
    display: flex;
    align-items: center;
    border: 1px solid #4DA768;
    border-radius: 25px;
    height: 60px;
    margin-bottom: 40px;
  
    ion-label {
      width: 99px;
      height: 17px;
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.94px;
      text-align: center;
      color: #5F5F5F;
      margin-left: auto; // Positionner à droite de l'input
      padding-right: 16px; // Ajustez si nécessaire pour l'espacement
    }
  
    ion-input {
      flex: 1;
      padding-left: 16px; // Espace interne gauche de l'input
    }
  }
  