<div class="sign-up-interface">
  <ion-header >
   
  </ion-header>

  <ion-content>
    <ion-img src="assets/images/header.png"></ion-img>

    <ion-card-header>
      <ion-card-title>Sign Up</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit">
          <ion-label>Create account</ion-label>
        </ion-button>
      </form>

      <div class="sign-up-text">
        <p>Already have an Account? <a [routerLink]="['/login']" class="sign-up-link">Sign In</a></p>
      </div>
    </ion-card-content>
  </ion-content>
</div>
