
.sign-up-interface {
    width: 390px;
    height: 844px;
    top: -436px;
    left: -804px;
    background: #FFFFFF;
  }
  
  ion-card-title {
    font-family: 'Mplus 1p Bold', sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 51.98px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement si possible */
    width: 100%;
    max-width: 299px; /* Largeur maximale du formulaire */
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px; /* Centre le formulaire dans son conteneur */
    padding: 20px; /* Ajoute un peu de rembourrage autour du formulaire si nécessaire */
  }
  
  
  ion-item {
    width: 120%; /* Prend toute la largeur de son conteneur */
    height: 49px;
    padding: 0;
    margin-bottom: 16px;
    border-radius: 15px;
    border: 1px solid #99E89D;
  
    display: flex;
    align-items: center; 
    box-sizing: border-box;
  }
  
  ion-item ion-input {
    border: none;
    outline: none;
    padding: 0;
    width: 100%; /* Assure que l'input prend toute la largeur */
    height: 100%;
    background: transparent;
    box-sizing: border-box;
  }
  
  ion-item ion-label {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #5F5F5F;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
  }
  
  ion-button {
    width: 299px; /* Largeur fixe pour le bouton */
    height: 45px;
    padding: 0 16px;
    border-radius: 35px;
    background: #4DA768;
    border: 1px solid #00000040;
    display: flex;
    align-items: center;
    justify-content: center;
    --border-color: transparent;
    --border-style: solid;
    --box-shadow: none;
  
    ion-label {
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-weight: 300;
      color: #FFFFFF;
      text-transform: capitalize;
    }
  
  
    &.expanded {
        --padding-start: 0;
        --padding-end: 0;
        --inner-padding: 0;
      }
  
      // Assurer que les variables CSS n'affectent pas le style
      --background: #4DA768 !important;
      --color: #FFFFFF !important;
    }
  
  
  .sign-up-text {
    margin-top: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: center;
    color: #5F5F5F;
  }
  
  .sign-up-link {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #4DA768;
    text-decoration: none;
  }
  