<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ event?.title || 'Event Details' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="event">
    <ion-card-header>
      <ion-card-title>{{ event.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Date: {{ event.date }}</p>
      <p>Location: {{ event.location }}</p>
      <p>Description: {{ event.description }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)=" inviteMembers()" *ngIf="event">Send Invitations</ion-button>
  <ion-button expand="full" color="success" (click)="manageInscriptions()" *ngIf="event">Manage Inscriptions</ion-button>
</ion-content>
