.btn::part(native) { --ion-color-contrast: var(--ion-color-light)}
.btn{
  width: 299px;
 
  border-radius: 35px;
  border: 1px solid #000000;
  padding: 0px 16px;
  background-color: #4DA768 !important;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  
}

ion-button {
  --background: #4DA768 !important;
  --color: #FFFFFF;
  --border-width: 1px;
  --border-color: transparent;
  --border-style: solid;
  --box-shadow: none;
}
.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 40px;/
    margin-top: 50px;

}
.inputfield {
    width: 80%;
    margin: auto;
    display: flex;
    
    justify-content: space-around;
  }
  .input {

    height: 2em;
    width: 2em;
    border: 2px solid #f1f1f1;
    text-align: center;
    font-size: 1.5em;
    border-radius: 0.3em;
    background-color: #f1f1f1;

    /*Hide number field arrows*/
  }
  
.input:disabled {
    color: #89888b;
  }
  .input:focus {
    border: 3px solid  #4DA768;
    ;
  }

  .subtitle{
    font-weight: 200;
    font-size: 0.7rem;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 60px;
  }