<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>Sign In</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/images/football.png" class="styled-image"></ion-img>

    <ion-card-header>
      <ion-card-title>Welcome</ion-card-title>
      <ion-card-subtitle>Meet Soccer is a mobile app that connects users to organize and participate in football matches...</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
     <div class="text-wrapper">
        <ion-text class="skip-text">Skip</ion-text>
      </div>
      <div class="image-wrapper">
        <ion-img src="assets/images/Component 6.png" class="additional-image"></ion-img>
      </div>
       <div class="button-wrapper">
        <ion-button expand="full" class="get-started-button" (click)="goToSignIn2()">Get Started</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

  
