<ion-content [fullscreen]="true">
  <div style="display: flex; align-items: center; justify-content: center; position: relative; margin-top: 40px;">
    <ion-back-button style="position: absolute; left: 10px; color: black;" icon-only="true" defaultHref="/event-list"></ion-back-button>
    <h2 style="text-align: center; color: #000; margin: 0;">Add Match</h2>
  </div>
  <form (ngSubmit)="saveEvent()">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)]="event.title" name="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-datetime [(ngModel)]="event.date" name="date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Location</ion-label>
      <ion-input [(ngModel)]="event.location" name="location"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea [(ngModel)]="event.description" name="description"></ion-textarea>
    </ion-item>

    <!-- New Event Type Dropdown -->
    <ion-item>
      <ion-label position="floating">Event Type</ion-label>
      <ion-select [(ngModel)]="event.eventType" name="eventType" required>
        <ion-select-option value="MINI_SOCCER">Mini Soccer</ion-select-option>
        <!-- Add other event types here if necessary -->
      </ion-select>
    </ion-item>

    <ion-list>
      <ion-radio-group [(ngModel)]="event.visibility" name="visibility">
        <ion-list-header>
          <ion-icon name="eye-outline" style="color: #3880ff;"></ion-icon>
          <ion-label style="color: #3880ff;">Match Visibility</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label style="color: #3880ff;">Public</ion-label>
          <ion-radio slot="start" value="PUBLIC"></ion-radio> <!-- Use uppercase PUBLIC -->
        </ion-item>
    
        <ion-item>
          <ion-label style="color: #3880ff;">Private</ion-label>
          <ion-radio slot="start" value="PRIVATE"></ion-radio> <!-- Use uppercase PRIVATE -->
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-button expand="full" type="submit">Save Event</ion-button>
  </form>
</ion-content>
